boto3
django
django-bleach
django-csp
django_extensions
django-log-formatter-asim
django-reversion
django-staff-sso-client
django-waffle
gunicorn
psycopg[binary,pool]
python-dotenv
sentry-sdk
sentry-sdk[django]
uvicorn
whitenoise