boto3
django
django-bleach
django-csp
django_extensions
django-reversion
django-staff-sso-client
sentry-sdk
uvicorn
gunicorn
psycopg[binary,pool]
django-log-formatter-asim
sentry-sdk[django]
whitenoise
django-waffle
