.spinner_7uc5 {
  animation: spinner_3l8F 0.9s linear infinite;
  animation-delay: -0.9s;
}
.spinner_RibN {
  animation-delay: -0.7s;
}
.spinner_ZAxd {
  animation-delay: -0.5s;
}
@keyframes spinner_3l8F {
  0%,
  66.66% {
    animation-timing-function: cubic-bezier(0.14, 0.73, 0.34, 1);
    y: 6px;
    height: 12px;
  }
  33.33% {
    animation-timing-function: cubic-bezier(0.65, 0.26, 0.82, 0.45);
    y: 1px;
    height: 22px;
  }
}
