/* There are 3 very-almost rules in this file:

   1. Adhere to BEM https://getbem.com/
   2. Class names should be prefixed with the 'scl-' namespace
   3. Use min-width CSS instead of max-width (so mobile-first and then overridden for Desktop)

   These are for ~consistency with the GDS Design System, which uses BEM, and for general neatness
   See also https://design-system.service.gov.uk/get-started/extending-and-modifying-components/

   For now at least, we're not using SASS, but BEM is quite SASS-friendly for if/when
*/

.scl-template {
}
@media print {
    /* Override grey bottom background from govuk-template */
    .scl-template {
        background: none;
    }
}

/* A copy of _some_ of the styles on govuk-width-container, but avoiding margin on mobile.
   Probably needs to be improved to handle notches and rounded corners of the device */
.scl-width-container--max-width-mobile {
  margin: 0;
}
@media (min-width: 40.0625em) {
  .scl-width-container--max-width-mobile {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (min-width: 1020px) {
  .scl-width-container--max-width-mobile {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Make the border red, and since it's strong, a bit thinner than the default 10px */
.scl-header__container,
.scl-header--full-width-border {
  border-bottom: 8px solid #e52d13;
}
.scl-header--full-width-border {
  padding-bottom: 2px;
}

/* Our logo is 5px taller than the GOV.UK Crown that the design system is tailored for. But it's
/  only sort of "peeking" beyond the edges so we don't allocate more space for it in the page.
/  The X-GOVUK site doing a very similar thing with its logo I think for a similar reason */
.scl-header__logotype {
  margin-bottom: -5px;
  padding-right: 12px;
  border-right: 2px solid white;
  width: 33px;
}
.scl-header__logotype-text {
  display: none;
}
.scl-header__logo {
  padding-right: 0;
}
.scl-header__link:focus .scl-header__logotype {
  border-right: 2px solid #0b0c0c;
}
.scl-header__product-name {
  line-height: 30px;
  margin-top: 0;
}
@media (min-width: 48.0625em) {
  /* Show full departmental crest on desktop. Note there are Safari/Chrome differences in handling
     overflow on SVGs, so this is done by both controlling width and showing the text */
  .scl-header__logotype {
    width: auto;
  }
  .scl-header__logotype-text {
    display: block;
  }
}
.scl-header__security-classification {
  float: right;
  margin: 4px 0 0 0;
}
.scl-header__security-classification--long {
  display: none;
}
@media (min-width: 48.0625em) {
  .scl-header__security-classification--long {
    display: inline;
  }
  .scl-header__security-classification--short {
    display: none;
  }
}

.scl-footer {
}
@media print {
    .scl-footer {
        display: none;
    }
}

.scl-tag {
  /* A bit smaller than GOV.UK's, but since we capitalise them, it doesn't look smaller. Note
     that OFFICIAL-SENSITIVE should be capitalised, so we capitalise in-text, not via CSS */
  padding: 0 7px 0 7px;
  font-weight: bold;
  line-height: 22px;
  font-size: 0.8rem;
}
:focus > .scl-tag {
  background: transparent;
  outline: 2px dotted #0b0c0c;
  /* Still a touch close to the left on Desktop */
  outline-offset: -3px;
}
.scl-tag--medium {
  font-size: 13px;
  padding: 2px 5px;
}
.scl-tag--small {
  font-size: 11px;
  padding: 2px 0 0 0;
  line-height: 15px;
}
.scl-tag--security {
  /* A bit darker than GOV.UK's red so it looks less pink, especially when in the header against
     a dark background, but it's still AAA-compliant contrast-wise */
  background: #e88978;
}
.scl-tag--date {
  width: 85px;
  margin-right: 8px;
  text-align: center;
}
.scl-tag--hanging {
  float: right;
  margin-top: -1px;
  margin-bottom: 1px; /* So text doesn't get too close underneath */
}

.scl-key-list {
  list-style-type: none;
  border-top: 1px solid #b1b4b6;
  margin: 0;
  padding: 0;
  font-size: 1.1875rem;
}
.scl-key-list__item_header {
  line-height: 47px;
  height: 47px;
  align-items: center;
  display: flex;
}
.scl-key-list__item {
  margin-bottom: 0;
  border-bottom: 1px solid #b1b4b6;
}
.scl-key-list__link {
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration-line: none;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* The below for when this is not in a the flex parent of .scl-key-list__item_header */
  display: block;
  height: 47px;
  line-height: 47px;
}
.scl-key-list__link:hover {
  text-decoration-line: underline;
}
.scl-key-list__link:focus {
  text-decoration-line: none;
}
.scl-key-list__date {
  margin-right: 8px;
  position: relative;
  top: -2px;
}
.scl-key-list__button {
  margin-right: 15px;
  margin-left: 5px;
}
@media (min-width: 40.0625em) {
  .scl-key-list {
    margin-bottom: 20px;
  }
  .scl-key-list__item_body {
    padding: 0 5px;
  }
  .scl-key-list__link {
    padding-left: 5px;
    padding-right: 5px;
  }
  .scl-key-list__button {
    margin-right: 0;
  }
}

.scl-multiline-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.scl-multiline-list__date {
  margin-bottom: 2px;
}
.scl-multiline-list__link {
  display: block;
  text-decoration-line: none;
  padding: 5px 15px;
  margin: 0 -15px 2px -15px;
}
.scl-multiline-list__link:hover {
  text-decoration-line: underline;
}
.scl-multiline-list__link:focus {
  text-decoration-line: none;
}
.scl-multiline-list__link_text {
  display: block;
}
@media (min-width: 40.0625em) {
  .scl-multiline-list__link {
    padding: 5px;
    margin: 0 -5px 2px -5px;
  }
}

.scl-key-info {
}
.scl-key-info__panel {
    padding: 0;
}
.scl-key-info__panel-header {
  padding: 15px 15px 0 15px;
}
.scl-key-info__panel-header-minilink {
  float: right;
}
@media (min-width: 40.0625em) {
  .scl-key-info {
    border-bottom: 1px solid #b1b4b6;
    background-color: #f8f8f8;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .scl-key-info__panel {
    padding: 15px;
    border: 1px solid rgb(177, 180, 182);
    background: white;
  }
  .scl-key-info__panel-header {
    padding: 0;
  }
}

.scl-content-header {
   display: flex;
}
.scl-content-header__heading {
   flex-grow: 1;
}
.scl-content-header__button {
   /* Overrides width: 100% from govuk-button on mobile */
   width: auto;
}
@media print {
    .scl-content-header__button {
        display: none;
    }
}

.scl-input--search {
   padding-left: 30px;
   background: url('/assets/icon-search.svg') no-repeat -5px center;
}

.scl-button--record {
  margin-bottom: 0;
  border-radius: 20px;
  height: 40px;
  width: auto;
  background: #1d70b8;
}
.scl-button--record:hover {
  background: #16568e;
}

.scl-button__microphone,
.scl-button__recording-animation {
  display: none;
}
.scl-button--recording-paused > .scl-button__microphone,
.scl-button--recording-active > .scl-button__recording-animation {
  display: flex;
  height: 22px;
  width: 15px;
  justify-content: center;
  align-items: flex-start;
}
.scl-button__icon {
  overflow: visible;
}
.scl-button__icon--recording-animation {
  position: relative;
  top: 2px;
}

.scl-transcription-target {
  display: none;
  padding: 0 15px;
  margin-top: 10px;
}
.scl-transcription-target--with-content {
  display: block;
}
.scl-transcription-target__partial-output {
  font-weight: bold;
}
.scl-transcription-target__partial-output--with-text {
  padding-right: 5px;
}
.scl-transcription-target__partial-output--recording {
  border-right: 2px solid #1d70b8;
}
@media (min-width: 40.0625em) {
  .scl-transcription-target {
    padding: 0;
  }
}

.scl-editable[contenteditable] {
  padding-left: 0;
}
.scl-editable[contenteditable]:focus {
  /* Override default browser styles */
  outline: 0px solid transparent;
}
/* This is not BEM, but neither is the GOV.UK Design System on li, and it makes editing easier
   because we don't care about classes on newly constucted elements */
.scl-editable[contenteditable] > li {
  border: 1px dashed #0b0c0c;
  padding: 5px;
}

.scl-list--multi-column {
  display: flex;
  flex-wrap: wrap;
}
/* This is not BEM, but neither is the GOV.UK Design System on li */
.scl-list--multi-column > li {
  flex: 0 0 50%;
  padding-bottom: 3px;
}
@media (min-width: 40.0625em) {
  .scl-list--multi-column > li {
    flex: 0 0 33.33333%;
  }
}

.scl-filter-list-with-results {
  display: none;
}

.scl-body--small,
.scl-list--small {
  font-size: 14px;
}
.scl-body--hide-on-mobile {
  display: none;
}
@media (min-width: 40.0625em) {
  .scl-body--hide-on-mobile {
    display: block;
  }
}

.scl-link--no-underline {
  text-decoration-line: none;
}
.scl-link--no-underline:hover {
  text-decoration-line: underline;
}
.scl-link--no-underline:focus {
  text-decoration-line: none;
}