/* There are 3 very-almost rules in this file:

   1. Adhere to BEM https://getbem.com/
   2. Class names should be prefixed with the 'scl-' namespace
   3. Use min-width CSS instead of max-width (so mobile-first and then overridden for Desktop)

   These are for ~consistency with the GDS Design System, which uses BEM, and for general neatness
   See also https://design-system.service.gov.uk/get-started/extending-and-modifying-components/

   For now at least, we're not using SASS, but BEM is quite SASS-friendly for if/when
*/

.scl-template {
}
@media print {
    /* Override grey bottom background from govuk-template */
    .scl-template {
        background: none;
    }
}

/* Our logo is 5px taller than the GOV.UK Crown that the design system is tailored for. But it's
/  only sort of "peeking" beyond the edges so we don't allocate more space for it in the page.
/  The X-GOVUK site doing a very similar thing with its logo I think for a similar reason */
.scl-header__logotype {
  margin-bottom: -5px;
  padding-right: 12px;
  border-right: 2px solid white;
  width: 33px;
}
.scl-header__logotype-text {
  display: none;
}
.scl-header__logo {
  padding-right: 0;
}
.scl-header__link:focus .scl-header__logotype {
  border-right: 2px solid #0b0c0c;
}
.scl-header__product-name {
  line-height: 30px;
  margin-top: 0;
}
@media (min-width: 48.0625em) {
  /* Show full departmental crest on desktop. Note there are Safari/Chrome differences in handling
     overflow on SVGs, so this is done by both controlling width and showing the text */q
  .scl-header__logotype {
    width: auto;
  }
  .scl-header__logotype-text {
    display: block;
  }
}

.scl-footer {
}
@media print {
    .scl-footer {
        display: none;
    }
}

.scl-tag {
}

.scl-tag--hanging-under-govuk-section-break {
}

.scl-tag--security {
}

.scl-tag--date {
}

.scl-key-info {
}

.scl-key-info__panel {
}

.scl-key-info__list {
}

.scl-sidebar {
}

.scl-sidebar__list {
}

.scl-content-header {
   display: flex;
}
.scl-content-header__heading {
   flex-grow: 1;
}
.scl-content-header__button {
   /* Overrides width: 100% from govuk-button on mobile */
   width: auto;
}
@media print {
    .scl-content-header__button {
        display: none;
    }
}

.scl-input--search {
   padding-left: 30px;
   background: url('/assets/icon-search.svg') no-repeat -5px center;
}

.scl-button {
}

.scl-button--transcribe {
}
