<div class="scl-content-header">
  <div class="scl-content-header__heading">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{title}}</h1>
  </div>
  <div>
    {% if edit %}
    <button class="govuk-button scl-content-header__button govuk-!-margin-bottom-2" data-module="scl-edit-button" data-scl-method="PATCH" data-scl-endpoint="{{edit_endpoint}}" data-scl-edit-target="editable-content" data-scl-edit-id="{{id}}">
      Edit
    </button>
    <button class="govuk-button scl-content-header__button" data-module="scl-print-button">
      Print
    </button>
    {% endif %}
    {% if add_engagement_link %}
    {% if is_privileged %}
    <a href="{{add_engagement_link}}" role="button" class="govuk-button scl-content-header__button">
      Add engagement
    </a>
    {% endif %}
    {% endif %}
  </div>
</div>
