{% extends "base.html" %}

{% block content %}
<main class="govuk-width-container govuk-main-wrapper">
  <div class="govuk-grid-row"><div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry you do not have permssion to view this page.</h1>

    <p class="govuk-body">Please contact the Strategic Companies List team with the following information to get access.</p>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Your email address</dt>
          <dd class="govuk-summary-list__value">{{ request.user.email }}</dd>
      </div>
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Your user ID</dt>
          <dd class="govuk-summary-list__value">{{ request.user.id }}</dd>
      </div>
    </dl>
  </div></div>
</main>
{% endblock %}
