{% extends "base.html" %}

{% block content %}
<main class="govuk-width-container govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You need to contact us to fully activate your account</h1>

      <p class="govuk-body">We've identified your account and recognise that you should have access to the Strategic Companies Insight Tool.</p>

      <h2 class="govuk-heading-l">Next steps</h2>
      <p class="govuk-body">You need to email our team so we can complete the setup.</p>

      <p class="govuk-body">Email us at: {email address} with the subject line "Access activation request for SCIT". If you're an account manager tell us what companies you're responsible for in the email body, otherwise leave it blank.</p>
    </div>
  </div>
</main>
{% endblock %}
