{% extends "base.html" %} {% block content %}
<main class="govuk-width-container govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-7">
        You need to contact us to fully activate your account
      </h1>

      <p class="govuk-body">
        We've identified your account and recognise that you should have access
        to the Strategic Companies Insight Tool.
      </p>      

      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Next steps</h2>

      <p class="govuk-body govuk-!-margin-bottom-2">
        You need to contact our team so we can complete the setup.
      </p>
      <p class="govuk-body">
        <a
          href="mailto:{{ support_email }}?subject=Access activation request for SCIT"
          class="govuk-link"
          >Click this link to open an email template</a
        > and send it to us.  Please list the companies you need access to in the email body, otherwise leave it blank.
      </p>

    </div>
  </div>
</main>
{% endblock %}
