{% load static %}
{% load svg_tags %}
<!DOCTYPE html>
<html lang="en" class="govuk-template scl-template">

<head>
  <meta charset="utf-8">
  <title>Strategic Companies List - Department for Business and Trade</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <link rel="icon" sizes="48x48" href="{% static 'images/favicon.ico' %}">
  <link rel="icon" sizes="any" href="{% static 'images/favicon.svg' %}" type="image/svg+xml">
  <link rel="mask-icon" href="{% static 'images/govuk-icon-mask.svg' %}" color="#0b0c0c">
  <link rel="apple-touch-icon" href="{% static 'images/govuk-icon-180.png' %}">
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <link rel="stylesheet" href="{% static 'govuk-frontend.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/scl.css' %}">
</head>

<body class="govuk-template__body">
  <script nonce="{{request.csp_nonce}}">
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
  </script>
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
  <header class="govuk-header govuk-header--full-width-border scl-header--full-width-border" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container scl-header__container scl-header__full-width_container">
      <div class="govuk-header__logo scl-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage scl-header__link">
          {% svg 'dbt-logo' %}
          <span class="govuk-header__product-name scl-header__product-name">
            Strategic Companies List
          </span>
        </a>
        <strong class="govuk-tag govuk-tag--red scl-tag scl-tag--security scl-header__security-classification scl-header__security-classification--long">
          OFFICIAL-SENSITIVE
        </strong>
        <strong class="govuk-tag govuk-tag--red scl-tag scl-tag--security scl-header__security-classification scl-header__security-classification--short">
          OFF-SEN
        </strong>
      </div>
    </div>
  </header>
 
  {% block content %}{% endblock %}
  <div class="govuk-visually-hidden" data-scl-csrf-token="{{ csrf_token }}"></div>
  <footer class="govuk-footer scl-footer">
    <div class="govuk-width-container">
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          {% svg 'ogl' %}
          <span class="govuk-footer__licence-description">
            All content is available under the
            <a
              class="govuk-footer__link"
              href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
              rel="license">Open Government Licence v3.0</a>, except where otherwise stated
          </span>
        </div>
        <div class="govuk-footer__meta-item">
          <a
            class="govuk-footer__link govuk-footer__copyright-logo"
            href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
            © Crown copyright
          </a>
        </div>
      </div>
    </div>
  </footer>
  <script type="module" src="{% static 'govuk-frontend.min.js' %}"></script>
    <script type="module" nonce="{{request.csp_nonce}}">
    import {
      initAll
    } from '{% static 'govuk-frontend.min.js' %}'
    initAll()
  </script>
  <script type="module" src="{% static 'bundle.js' %}"></script>
  <script type="module" src="{% static 'js/scl.js' %}"></script>
</body>

</html>
