{% extends "base.html" %}
{% load bleach_tags %}
{% load scl_html %}

{% block content %}
<div class="govuk-width-container">
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a href="/company-briefing/{{company.duns_number}}" class="govuk-breadcrumbs__link">{{company.name}}</a>
      </li>
        <li class="govuk-breadcrumbs__list-item">
        Engagements
      </li>
    </ol>
  </nav>

  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include './partials/header.html' with title=company.name print=False %}
      </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">Upcoming</h2>
                    {% if engagements %}
                        <ul class="govuk-list">
                            {% for engagement in engagements %}
                            <li>
                            <a href="/engagement/{{engagement.id}}" class="govuk-link govuk-link--no-visited-state scl-multiline-list__link">
                                <strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--small scl-tag--date scl-multiline-list__date">{{engagement.date}}</strong>
                                <span class="scl-multiline-list__link_text">{{engagement.title}}</span>
                            </a
                            >
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">Past</h2>
                    {% if past_engagements %}
                        <ul class="govuk-list">
                            {% for engagement in past_engagements %}
                            <li>
                            <a href="/engagement/{{engagement.id}}" class="govuk-link govuk-link--no-visited-state scl-multiline-list__link">
                                <strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--small scl-tag--date scl-multiline-list__date">{{engagement.date}}</strong>
                                <span class="scl-multiline-list__link_text">{{engagement.title}}</span>
                            </a
                            >
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
  </main>
</div>
{% endblock %}
