{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="scl-content-header">
          <h1 class="govuk-heading-l scl-content-header__heading govuk-!-margin-bottom-2">{{ company.name }}</h1>
          <div>
            {% if is_privileged %}
            <button
              class="govuk-button scl-content-header__button govuk-!-margin-bottom-2"
              data-module="scl-edit-button"
              data-scl-edit-button-target=".scl-editable"
              data-scl-endpoint="/api/v1/company/{{ company.duns_number }}"
            >
              Edit
            </button>
            {% endif %}
            <button
              class="govuk-button scl-content-header__button govuk-!-margin-left-1 govuk-!-margin-bottom-2"
              data-module="scl-print-button"
            >
              Print
            </button>

            {% if is_privileged %}
            <a
              href="#" role="button" draggable="false" class="govuk-button scl-content-header__button govuk-!-margin-left-4 govuk-!-margin-bottom-2"
            >
              Add engagement
            </a>
            {% endif %}
          </div>
        </div>
        <p class="govuk-body govuk-body-s govuk-!-margin-bottom-1">D-U-N-S: {{ company.duns_number }}{% if company.global_hq_name %}, {{ company.global_hq_name}}{% endif %}</p>
        <p class="govuk-body govuk-body-s">Last updated: {{ current_version.revision.date_created }}</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <section class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
        {% if company.global_hq_country or company.global_turnover_millions_usd or global_number_of_employees.global_number_of_employees %}
        <h2 class="govuk-heading-m">Key facts</h2>
        <ul class="govuk-list govuk-list--bullet">
          {% if company.global_hq_country %}
          <li>Headquartered in {{ company.get_global_hq_country_display }}</li>
          {% endif %}
          {% if company.global_turnover_millions_usd %}
          <li>Has global turnover of {% if company.global_turnover_millions_usd > 1000 %}${{ company.global_turnover_billions_usd |floatformat:1|intcomma }} billion{% else %}${{ company.global_turnover_millions_usd |intcomma }} million{% endif %}</li>
          {% endif %}
          {% if company.global_number_of_employees %}
          <li>Employs {{ company.global_number_of_employees|intcomma }} people globally</li>
          {% endif %}
        </ul>
        {% endif %}
        <h2 class="govuk-heading-m">Key people</h2>
        <ul class="govuk-list govuk-list--bullet scl-editable" data-scl-editable-field="key_people">
          {% if company.key_people %}
            {{ company.key_people | safe }}
          {% else %}
          <li>Engineer: Mrs Jane Doe, appointed November 2022.</li>
          <li>Data Analyst: Mr John Smith, appointed October 2023.</li>
          {% endif %}
        </ul>
        {% if is_privileged %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-section-break--visible govuk-!-margin-top-7 govuk-!-margin-bottom-0">
        <strong class="govuk-tag govuk-tag--red scl-tag scl-tag--security scl-tag--hanging">PRIVILEGED</strong>
        <h2 class="govuk-heading-m govuk-!-margin-top-3">Company current issues and priorities</h2>
        <ol class="govuk-list govuk-list--number scl-editable" data-scl-editable-field="company_priorities">
          {% if company.company_priorities %}
            {{ company.company_priorities | safe }}
          {% else %}
          <li>
            <b>Support key exports</b>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </li>
          <li>
            <b>Support programme.</b>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </li>
          <li>
            <b>International partnerships.</b>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </li>
          {% endif %}
        </ol>
        <h2 class="govuk-heading-m">HMG priorities for engagement</h2>
        <ol class="govuk-list govuk-list--number scl-editable" data-scl-editable-field="hmg_priorities">
          {% if company.hmg_priorities %}
            {{ company.hmg_priorities | safe }}
          {% else %}
          <li>
            <b>Growing exports</b>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </li>
          <li>
            <b>Building support programmes</b>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </li>
          <li>
            <b>Growing capabilities.</b>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </li>
          {% endif %}
        </ol>
        {% endif %}
      </section>
      <aside class="govuk-grid-column-one-third" role="complementary">
        <hr class="govuk-section-break govuk-section-break--m govuk-!-margin-top-0 govuk-section-break--visible govuk-!-margin-bottom-0">
        {% if is_privileged %}
        <strong class="govuk-tag govuk-tag--red scl-tag scl-tag--security scl-tag--hanging">PRIVILEGED</strong>
        <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">
          Recent top-level engagements across HMG
        </h2>
        <ul class="scl-multiline-list govuk-!-margin-bottom-2">
        {% if past_engagements %}
          {% for engagement in past_engagements %}
            <li>
              <a href="/engagement/{{engagement.id}}" class="govuk-link govuk-link--no-visited-state scl-multiline-list__link">
                <strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--small scl-tag--date scl-multiline-list__date">{{engagement.date}}</strong>
                <span class="scl-multiline-list__link_text">{{engagement.title}}</span>
              </a
              >
            </li>
            {% endfor %}
          {% else %}
          <p class="govuk-body">No current engagements.</p>
          {% endif %}
        </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-1 govuk-!-margin-bottom-1">
        <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0 scl-body--small"><a href="#" class="govuk-link govuk-link--no-visited-state scl-link--no-underline">View working-level engagements</a></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-2">
        {% endif %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-{% if is_privileged %}2{% else %}4{% endif %}">Account managers</h2>
        {% if account_managers %}
          <ul class="govuk-list scl-list--small">
          {% for account_manager in account_managers %}
              <li><a class="govuk-link govuk-link--no-visited-state scl-link--no-underline" href="##">{{ account_manager.first_name }} {{ account_manager.last_name }}</a></li>
          {% endfor %}
          </ul>
        {% else %}
            <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0 scl-body--small">No account managers</p>
        {% endif %}
      </aside>
    </div>
  </main>
</div>
{% endblock %}
