{% extends "base.html" %}
{% load bleach_tags %}
{% load scl_html %}
{% load svg_tags %}

{% block content %}
<div class="govuk-width-container">
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a href="/company-briefing/{{engagement.company.duns_number}}" class="govuk-breadcrumbs__link">{{engagement.company.name}}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        {{engagement.title}}
      </li>
    </ol>
  </nav>

  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="scl-content-header">
          <div class="scl-content-header__heading">
            <h1 data-scl-editable-field="engagement_title" class="govuk-heading-l govuk-!-margin-bottom-1 scl-editable">{{engagement.title}}</h1>
          </div>
          <div>
            <button
              class="govuk-button scl-content-header__button govuk-!-margin-bottom-2"
              data-module="scl-edit-button"
              data-scl-edit-button-target=".scl-editable"
              data-scl-endpoint="/api/v1/engagement/{{ engagement.id }}"
              >
              Edit
            </button>
            <button
              class="govuk-button scl-content-header__button govuk-!-margin-left-1 govuk-!-margin-bottom-2"
              data-module="scl-print-button"
              >
              Print
            </button>
          </div>
        </div>
        <p class="govuk-body govuk-body-s">{{engagement.date}}</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
        <p class="govuk-body scl-body--small">Engagement created {{ engagement_first_version.revision.date_created }} by <a class="govuk-link govuk-link--no-visited-state" href="#">{{ engagement_first_version.revision.user.first_name }} {{ engagement_first_version.revision.user.last_name }}</a></p>
        <div data-scl-editable-field="engagement_details" class="scl-editable scl-editable--paragraphs">
          {{ engagement.details | ensure_p | bleach | safe }}
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% for note, note_first_version in notes_versions %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-4">
        <div class="scl-note">
          <p class="govuk-body scl-body--small">Note created {{ note_first_version.revision.date_created }} by <a class="govuk-link govuk-link--no-visited-state" href="#">{{ note_first_version.revision.user.first_name }} {{ note_first_version.revision.user.last_name }}</a></p>
          <button
            class="govuk-button"
            data-scl-endpoint="/api/v1/engagement/{{ engagement.id }}/note"
            data-module="scl-delete-transcript"
            data-scl-notes-id={{note.id}}
            >
            Delete
          </button>
        </div>
        {{ note.contents | ensure_p | bleach | safe }}
        {% endfor %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
        <div class="scl-transcription scl-transcription--secondary">
          <div id="transcription-target-{{ engagement.id }}" class="scl-transcription-target"></div>
          <button class="scl-key-list__button govuk-button scl-button--record scl-button--recording-paused" type="button" data-module="scl-transcription-button" data-scl-transcription-target="#transcription-target-{{ engagement.id }}">
            <span class="scl-button__microphone">{% svg 'microphone' %}</span>
            <span class="scl-button__recording-animation">{% svg 'recording-animation' %}</span>
          </button>
          <button class="govuk-button" data-scl-endpoint="/api/v1/engagement/{{ engagement.id }}/note" data-module="scl-save-transcript" data-transcript-target="{{ engagement.id }}">Save note</button>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
