{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="scl-key-info-banner">
  <div class="govuk-width-container">
    <div class="govuk-grid-row scl-no-grid-mobile">
      <div class="govuk-grid-column-one-half">
        <div class="scl-key-info-panel" style="margin-bottom: 20px">
            <button class="govuk-button scl-record-button scl-ready-to-record" data-module="scl-transcription-button" data-scl-transcription-target="#transcription-target-1" type="button">
              <span class="scl-start-text">Start recording</span>
              <span class="scl-microphone"><svg width="17" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="overflow: visible; margin-left: 5px; margin-bottom: -2px"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
              </span>
              <span class="scl-stop-text">Stop recording</span>
              <span class="scl-recording-animation">
                <svg width="18" viewBox="0 0 24 24" fill="currentColor"  xmlns="http://www.w3.org/2000/svg" style="overflow: visible; margin-left: 5px; position: relative; top: 2px"><style>.spinner_7uc5{animation:spinner_3l8F .9s linear infinite;animation-delay:-.9s}.spinner_RibN{animation-delay:-.7s}.spinner_ZAxd{animation-delay:-.5s}@keyframes spinner_3l8F{0%,66.66%{animation-timing-function:cubic-bezier(0.14,.73,.34,1);y:6px;height:12px}33.33%{animation-timing-function:cubic-bezier(0.65,.26,.82,.45);y:1px;height:22px}}</style><rect class="spinner_7uc5 spinner_ZAxd" x="1" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="5.8" y="6" width="2.8" height="12"/><rect class="spinner_7uc5" x="10.6" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="15.4" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_ZAxd" x="20.2" y="6" width="2.8" height="12"/></svg>
              </span>
            </button>
            <p class="govuk-body" id="transcription-target-1"></p>
          </div>
        </div>
      <div class="govuk-grid-column-one-half"></div>
    </div>
  </div>
</div>

{% endblock %}