{% extends "base.html" %}
{% load bleach_tags %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="scl-content-header">
             <div class="scl-content-header__heading">
                <h1 data-scl-editable-field="engagement_title" class="govuk-heading-l govuk-!-margin-bottom-1 scl-editable">{{engagement.title}}</h1>
                <h2 class="govuk-heading-m"><a href="/company-briefing/{{engagement.company.duns_number}}" class="govuk-link govuk-link--no-visited-state">{{engagement.company.name}}</a></h2>
            </div>
          <div>
            <button
              class="govuk-button scl-content-header__button govuk-!-margin-bottom-2"
              data-module="scl-edit-button"
              data-scl-edit-button-target=".scl-editable"
              data-scl-endpoint="/api/v1/engagement/{{ engagement.id }}"
            >
              Edit
            </button>
            <button
              class="govuk-button scl-content-header__button govuk-!-margin-left-1 govuk-!-margin-bottom-2"
              data-module="govuk-button"
              onclick="window.print()"
            >
              Print
            </button>
          </div>
        </div>
        <p class="govuk-body govuk-body-s">{{engagement.date}}</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
        <div data-scl-editable-field="engagement_details" class="scl-editable">
            <p class="govuk-body">{{ engagement.details | bleach | safe }}</p>
        </div>
      </div>
    </div>
    {% for note in engagement.notes.all %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
        {{ note.contents | bleach | safe }}
    {% endfor %}
  </main>
</div>
{% endblock %}
