{% extends "base.html" %}
{% load svg_tags %}

{% block content %}

{% if your_companies %}
<div class="scl-key-info">
  <div class="govuk-width-container scl-width-container--max-width-mobile">
    <div class="govuk-grid-row scl-no-grid-mobile">
      <div class="govuk-grid-column-one-half">
        <div class="scl-key-info__panel">
          <div class="scl-key-info__panel-header">
            <p class="govuk-body govuk-body-s scl-key-info__panel-header-minilink"><a href="/your-engagements" class="govuk-link govuk-link--no-visited-state">All engagements</a></p>
            <h1 class="govuk-heading-m govuk-!-padding-top-0">Your engagements</h1>
          </div>
          {% if your_future_enagements %}
          <p class="govuk-body scl-body--hide-on-mobile">The future engagements scheduled for the companies you have privileged access to.</p>
          <ul class="scl-key-list">
            {% for engagement in your_future_enagements %}
            <li class="scl-key-list__item">
              <div class="scl-key-list__item_header scl-key-list__item_header--tall">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="/engagement/{{ engagement.id }}"><strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--medium scl-tag--date scl-key-list__date">{{ engagement.date |date:"j M. Y" }}</strong><span class="scl-block-link-text">{{ engagement.title }} </span></a>
                <button class="scl-key-list__button govuk-button scl-button--record scl-button--recording-paused" type="button" data-module="scl-transcription-button" data-scl-transcription-target="#transcription-target-{{ engagement.id }}">
                  <span class="scl-button__microphone">{% svg 'microphone' %}</span>
                  <span class="scl-button__recording-animation">{% svg 'recording-animation' %}</span>
                </button>
              </div>
               <div class="scl-transcription">
                <div id="transcription-target-{{ engagement.id }}" class="scl-transcription-target"></div>
                <button class="govuk-button" data-scl-endpoint="/api/v1/engagement/{{ engagement.id }}/note" data-module="scl-save-transcript" data-transcript-target="{{ engagement.id }}">Save note</button>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="govuk-body">There are no future engagements for companies you have privileged access to.</p>
          {% endif %}
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="scl-key-info__panel">
          <div class="scl-key-info__panel-header">
            <h1 class="govuk-heading-m">Your companies</h1>
            <p class="govuk-body scl-body--hide-on-mobile">These are the companies you have been granted privileged access to.</p>
          </div>
          <ul class="scl-key-list">
            {% for company in your_companies %}
            <li class="scl-key-list__item">
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="/company-briefing/{{ company.duns_number }}">{{ company.name }}</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-m">All {{ all_companies|length }} companies on the Strategic Companies List</h1>
    <p class="govuk-body">You will only be able to see limited details for companies you have not been granted privileged access to.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Search for a company by its name
      </label>
      <input class="govuk-input scl-input--search" data-module="scl-filter-list" data-scl-filter-list-target="#scl-company-list" data-scl-filter-list-no-results="#scl-company-search-no-results" name="companyName" type="text">
    </div>

    <p id="scl-company-search-no-results" class="govuk-body scl-filter-list-with-results">No companies found</p>

    <ul class="govuk-list scl-list--multi-column" id="scl-company-list">
      {% for company in all_companies %}
          <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing/{{ company.duns_number }}">{{ company.name }}</a></li>
      {% endfor %}
    </ul>
  </main>
</div>

<script nonce="{{request.csp_nonce}}">
  (() => {
    const registerFilterList = (input) => {
      const list = document.querySelector(input.getAttribute("data-scl-filter-list-target"));
      const noResults = document.querySelector(input.getAttribute("data-scl-filter-list-no-results"));

      input.addEventListener("input", () => {
        // We show results where every lowercased word in the search string is contained in
        // the lowercased and space-removed company name. This allows a good range of both "full"
        // and "quick" searches, e.g. "quantum holdings", "quantumholdings" and "quan hold" all
        // match "Quantum Holdings", but the number of incorrect matches is very likely to be low
        const segmenter = new Intl.Segmenter([], { granularity: 'word' });
        const segmentedText = segmenter.segment(input.value);
        const words = [...segmentedText].filter(s => s.isWordLike).map(s => s.segment);
        let totalMatched = 0;

        Array.from(list.children).forEach((child) => {
          const allWordsMatch = words.every((word) => child.textContent.replace(/\s/g,'').toLocaleLowerCase("en-GB").includes(word.toLocaleLowerCase("en-GB")))

          child.style.display = allWordsMatch ? null : 'none';
          if (allWordsMatch) totalMatched += 1;
        });
        noResults.classList.toggle('scl-filter-list-with-results', totalMatched);
      });
    };

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll('[data-module="scl-filter-list"]').forEach(registerFilterList);
    });
  })();
</script>
{% endblock %}
