{% extends "base.html" %}

{% block content %}

<div class="scl-key-info-banner">
  <div class="govuk-width-container scl-max-width-mobile">
    <div class="govuk-grid-row scl-no-grid-mobile">
      <div class="govuk-grid-column-one-half">
        <div class="scl-key-info-panel">
          <div class="scl-key-info-panel-header">
            <p class="govuk-body govuk-body-s" style="float: right"><a href="#" class="govuk-link--no-visited-state">Past engagements</a></p>
            <h1 class="govuk-heading-m govuk-!-padding-top-0">Your engagements</h1>
          </div>
          <p class="govuk-body scl-hide-block-on-mobile">The future engagements scheduled for the companies you have privileged access to.</p>
          <ul class="scl-key-list">
            <li class="scl-key-list__item">
              <div class="scl-key-list__item_header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="#"><strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--medium scl-tag--date scl-key-list__date">3 Mar. 2025</strong><span class="scl-block-link-text">Synergy Group</span></a>
                <button class="govuk-button scl-inline-record-button scl-ready-to-record" type="button" data-module="scl-transcription-button" data-scl-transcription-target="#transcription-target-1">
                  <span class="scl-microphone"><svg width="15" style="overflow: visible" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
                  </span>
                  <span class="scl-recording-animation">
                    <svg width="18" viewBox="0 0 24 24" fill="currentColor"  xmlns="http://www.w3.org/2000/svg" style="overflow: visible; position: relative; top: 2px"><style>.spinner_7uc5{animation:spinner_3l8F .9s linear infinite;animation-delay:-.9s}.spinner_RibN{animation-delay:-.7s}.spinner_ZAxd{animation-delay:-.5s}@keyframes spinner_3l8F{0%,66.66%{animation-timing-function:cubic-bezier(0.14,.73,.34,1);y:6px;height:12px}33.33%{animation-timing-function:cubic-bezier(0.65,.26,.82,.45);y:1px;height:22px}}</style><rect class="spinner_7uc5 spinner_ZAxd" x="1" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="5.8" y="6" width="2.8" height="12"/><rect class="spinner_7uc5" x="10.6" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="15.4" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_ZAxd" x="20.2" y="6" width="2.8" height="12"/></svg>
                  </span>
                </button>
              </div>
              <p class="scl-transcription-target" id="transcription-target-1"></p>
            </li>
            <li class="scl-key-list__item">
              <div class="scl-key-list__item_header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="#"><strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--medium scl-tag--date scl-key-list__date">5 Mar. 2025</strong><span class="scl-block-link-text">Infinity Innovations</span></a>
                <button class="govuk-button scl-inline-record-button scl-ready-to-record" type="button" data-module="scl-transcription-button" data-scl-transcription-target="#transcription-target-2">
                  <span class="scl-microphone"><svg width="15" style="overflow: visible" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
                  </span>
                  <span class="scl-recording-animation">
                    <svg width="18" viewBox="0 0 24 24" fill="currentColor"  xmlns="http://www.w3.org/2000/svg" style="overflow: visible; position: relative; top: 2px"><style>.spinner_7uc5{animation:spinner_3l8F .9s linear infinite;animation-delay:-.9s}.spinner_RibN{animation-delay:-.7s}.spinner_ZAxd{animation-delay:-.5s}@keyframes spinner_3l8F{0%,66.66%{animation-timing-function:cubic-bezier(0.14,.73,.34,1);y:6px;height:12px}33.33%{animation-timing-function:cubic-bezier(0.65,.26,.82,.45);y:1px;height:22px}}</style><rect class="spinner_7uc5 spinner_ZAxd" x="1" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="5.8" y="6" width="2.8" height="12"/><rect class="spinner_7uc5" x="10.6" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="15.4" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_ZAxd" x="20.2" y="6" width="2.8" height="12"/></svg>
                  </span>
                </button>
              </div>
              <p class="scl-transcription-target" id="transcription-target-2"></p>
            </li>
            <li class="scl-key-list__item">
              <div class="scl-key-list__item_header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="#"><strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--medium scl-tag--date scl-key-list__date">15 Mar. 2025</strong><span class="scl-block-link-text">Infinity Innovations</span></a>
                <button class="govuk-button scl-inline-record-button scl-ready-to-record" type="button" data-module="scl-transcription-button" data-scl-transcription-target="#transcription-target-3">
                  <span class="scl-microphone"><svg width="15" style="overflow: visible" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
                  </span>
                  <span class="scl-recording-animation">
                    <svg width="18" viewBox="0 0 24 24" fill="currentColor"  xmlns="http://www.w3.org/2000/svg" style="overflow: visible; position: relative; top: 2px"><style>.spinner_7uc5{animation:spinner_3l8F .9s linear infinite;animation-delay:-.9s}.spinner_RibN{animation-delay:-.7s}.spinner_ZAxd{animation-delay:-.5s}@keyframes spinner_3l8F{0%,66.66%{animation-timing-function:cubic-bezier(0.14,.73,.34,1);y:6px;height:12px}33.33%{animation-timing-function:cubic-bezier(0.65,.26,.82,.45);y:1px;height:22px}}</style><rect class="spinner_7uc5 spinner_ZAxd" x="1" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="5.8" y="6" width="2.8" height="12"/><rect class="spinner_7uc5" x="10.6" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="15.4" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_ZAxd" x="20.2" y="6" width="2.8" height="12"/></svg>
                  </span>
                </button>
              </div>
              <p class="scl-transcription-target" id="transcription-target-3"></p>
            </li>
            <li class="scl-key-list__item">
              <div class="scl-key-list__item_header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="#"><strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--medium scl-tag--date scl-key-list__date">3 Apr. 2025</strong><span class="scl-block-link-text">Apex Industries</span></a>
                <button class="govuk-button scl-inline-record-button scl-ready-to-record" type="button" data-module="scl-transcription-button" data-scl-transcription-target="#transcription-target-4">
                  <span class="scl-microphone"><svg width="15" style="overflow: visible" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
                  </span>
                  <span class="scl-recording-animation">
                    <svg width="18" viewBox="0 0 24 24" fill="currentColor"  xmlns="http://www.w3.org/2000/svg" style="overflow: visible; position: relative; top: 2px"><style>.spinner_7uc5{animation:spinner_3l8F .9s linear infinite;animation-delay:-.9s}.spinner_RibN{animation-delay:-.7s}.spinner_ZAxd{animation-delay:-.5s}@keyframes spinner_3l8F{0%,66.66%{animation-timing-function:cubic-bezier(0.14,.73,.34,1);y:6px;height:12px}33.33%{animation-timing-function:cubic-bezier(0.65,.26,.82,.45);y:1px;height:22px}}</style><rect class="spinner_7uc5 spinner_ZAxd" x="1" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="5.8" y="6" width="2.8" height="12"/><rect class="spinner_7uc5" x="10.6" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_RibN" x="15.4" y="6" width="2.8" height="12"/><rect class="spinner_7uc5 spinner_ZAxd" x="20.2" y="6" width="2.8" height="12"/></svg>
                  </span>
                </button>
              </div>
              <p class="scl-transcription-target" id="transcription-target-4"></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="scl-key-info-panel scl-key-info-panel-subsequent">
          <div class="scl-key-info-panel-header">
            <h1 class="govuk-heading-m">Your companies</h1>
            <p class="govuk-body scl-hide-block-on-mobile">These are the companies you have been granted privileged access to.</p>
          </div>
          <ul class="scl-key-list">
            <li class="scl-key-list__item">
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="/company-briefing?company=Apex Industries&owned=true">Apex Industries</a>
              </div>
            </li>
            <li class="scl-key-list__item">
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="/company-briefing?company=Infinity Innovations&owned=true">Infinity Innovations</a>
              </div>
            </li>
            <li class="scl-key-list__item">
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="/company-briefing?company=Synergy Group&owned=true">Synergy Group</a>
              </div>
            </li>
            <li class="scl-key-list__item">
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-key-list__link" href="/company-briefing?company=Zenith Dynamics&owned=true">Zenith Dynamics</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-m">All companies on the Strategic Companies List</h1>
    <p class="govuk-body">You will only be able to see limited details for companies you have not been granted privileged access to.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Search for a company by its name
      </label>
      <input class="govuk-input scl-input--search" data-module="scl-filter-list" data-scl-filter-list-target="#scl-company-list" data-scl-filter-list-no-results="#scl-company-search-no-results" name="companyName" type="text">
    </div>

    <p id="scl-company-search-no-results" class="govuk-body scl-company-search-no-results-element scl-company-search-has-results">No companies found</p>

    <ul class="govuk-list scl-company-list" id="scl-company-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Apex Group&owned=true">Apex Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Apex Dynamics&owned=false">Apex Dynamics</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Apex Industries&owned=false">Apex Industries</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Ascend Corporation&owned=false">Ascend Corporation</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Ascend Holdings&owned=false">Ascend Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Cosmos Holdings&owned=false">Cosmos Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Cosmos Innovations&owned=false">Cosmos Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Echelon Enterprises&owned=false">Echelon Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Echelon Holdings&owned=false">Echelon Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Empire Holdings&owned=false">Empire Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Empire Systems&owned=false">Empire Systems</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Everest Holdings&owned=false">Everest Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Fusion Dynamics&owned=false">Fusion Dynamics</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Fusion Enterprises&owned=false">Fusion Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Genesis Group&owned=false">Genesis Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Genesis Holdings&owned=false">Genesis Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Global Enterprises &owned=false">Global Enterprises Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Infinity Group&owned=false">Infinity Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Infinity Innovations&owned=true">Infinity Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Legacy Innovations&owned=false">Legacy Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Legacy Systems&owned=false">Legacy Systems</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Nexus Corporation&owned=false">Nexus Corporation</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Nova Enterprises&owned=false">Nova Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Nova Holdings&owned=false">Nova Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Omni Enterprises&owned=false">Omni Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Omni Holdings&owned=false">Omni Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Paramount Holdings&owned=false">Paramount Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Paramount Systems&owned=false">Paramount Systems</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Pinnacle Systems&owned=false">Pinnacle Systems</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Prime Dynamics&owned=false">Prime Dynamics</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Prime Ventures&owned=false">Prime Ventures</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Quantum Enterprises&owned=false">Quantum Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Quantum Holdings&owned=false">Quantum Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Regal Holdings &owned=false">Regal Holdings plc</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Stellar Industries&owned=false">Stellar Industries</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Stellar Solutions&owned=false">Stellar Solutions</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Summit Enterprises&owned=false">Summit Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Summit Innovations&owned=false">Summit Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Summit Ventures&owned=false">Summit Ventures</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Synergy Group&owned=true">Synergy Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Synergy Innovations&owned=false">Synergy Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Titan Enterprises&owned=false">Titan Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Titan Holdings&owned=false">Titan Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Titanium Innovations&owned=false">Titanium Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Vanguard Holdings&owned=false">Vanguard Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Vertex Innovations&owned=false">Vertex Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Vertex Ventures&owned=false">Vertex Ventures</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Vortex Enterprises&owned=false">Vortex Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Vortex Technologies&owned=false">Vortex Technologies plc</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/company-briefing?company=Zenith Dynamics&owned=true">Zenith Dynamics</a></li>
    </ul>
  </main>
</div>

<script>
  (() => {
    const registerFilterList = (input) => {
      const list = document.querySelector(input.getAttribute("data-scl-filter-list-target"));
      const noResults = document.querySelector(input.getAttribute("data-scl-filter-list-no-results"));

      input.addEventListener("input", () => {
        // We show results where every lowercased word in the search string is contained in
        // the lowercased and space-removed company name. This allows a good range of both "full"
        // and "quick" searches, e.g. "quantum holdings", "quantumholdings" and "quan hold" all
        // match "Quantum Holdings", but the number of incorrect matches is very likely to be low
        const segmenter = new Intl.Segmenter([], { granularity: 'word' });
        const segmentedText = segmenter.segment(input.value);
        const words = [...segmentedText].filter(s => s.isWordLike).map(s => s.segment);
        let totalMatched = 0;

        Array.from(list.children).forEach((child) => {
          const allWordsMatch = words.every((word) => child.textContent.replace(/\s/g,'').toLocaleLowerCase("en-GB").includes(word.toLocaleLowerCase("en-GB")))

          child.style.display = allWordsMatch ? null : 'none';
          if (allWordsMatch) totalMatched += 1;
        });
        noResults.classList.toggle('scl-filter-list-no-results', !totalMatched);
      });
    };

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll('[data-module="scl-filter-list"]').forEach(registerFilterList);
    });
  })();
</script>
{% endblock %}