{% extends "base.html" %}

{% block content %}

<div class="scl-key-info-banner">
  <div class="govuk-width-container scl-max-width-mobile">
    <div class="govuk-grid-row scl-no-grid-mobile">
      <div class="govuk-grid-column-one-half">
        <div class="scl-key-info-panel">
          <div class="scl-key-info-panel-header">
            <p class="govuk-body govuk-body-s" style="float: right"><a href="#" class="govuk-link--no-visited-state">Past engagements</a></p>
            <h1 class="govuk-heading-m govuk-!-padding-top-0">Your engagements</h1>
          </div>
          <p class="govuk-body scl-hide-block-on-mobile">The future engagements scheduled for the companies you have privileged access to.</p>
          <ul class="govuk-list scl-mobile-list">
            <li>
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-list-header-link" href="#">3rd March 2025 - Synergy Group</a>
                <button class="govuk-button scl-inline-record-button" type="button">
                  <span class="scl-microphone"><svg width="15" style="overflow: visible" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
                  </span>
                </button>
              </div>
            </li>
            <li>
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-list-header-link" href="#">5th March 2025 - Infinity Innovations</a>
                <button class="govuk-button scl-inline-record-button" type="button">
                  <span class="scl-microphone"><svg width="15" style="overflow: visible" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
                  </span>
                </button>
              </div>
            </li>
            <li>
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-list-header-link" href="#">15th March 2025 - Infinity Innovations</a>
                <button class="govuk-button scl-inline-record-button" type="button">
                  <span class="scl-microphone"><svg width="15" style="overflow: visible" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
                  </span>
                </button>
              </div>
            </li>
            <li>
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-list-header-link" href="#">3rd April 2025 - Apex Industries</a>
                <button class="govuk-button scl-inline-record-button" type="button">
                  <span class="scl-microphone"><svg width="15" style="overflow: visible" viewbox="0 0 576 700" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M576 348h-72c0 105.84-86.16 192-192 192h-48c-105.84 0-192-86.16-192-192H0c0 141.61 111.94 257.39 252 263.63v96.38H120v72h336v-72H324v-96.38C464.06 605.4 576 489.47 576 348Z"/><path d="M288 480c79.45 0 144-64.55 144-144V144C432 64.55 367.45 0 288 0S144 64.55 144 144v192c0 79.45 64.55 144 144 144zm-72-336c0-39.7 32.3-72 72-72s72 32.3 72 72v192c0 39.7-32.3 72-72 72s-72-32.3-72-72z"/></svg></span>
                  </span>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        <div class="scl-key-info-panel scl-key-info-panel-subsequent">
          <div class="scl-key-info-panel-header">
            <h1 class="govuk-heading-m">Your companies</h1>
            <p class="govuk-body scl-hide-block-on-mobile">These are the companies you have been granted privileged access to.</p>
          </div>
          <ul class="govuk-list scl-mobile-list">
            <li>
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-list-header-link" href="#">Apex Industries</a>
              </div>
            </li>
            <li>
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-list-header-link" href="#">Infinity Innovations</a>
              </div>
            </li>
            <li>
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-list-header-link" href="#">Synergy Group</a>
              </div>
            </li>
            <li>
              <div class="scl-mobile-list-header">
                <a class="govuk-link govuk-link--no-visited-state scl-list-header-link" href="#">Zenith Dynamics</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-m">All companies on the Strategic Companies List</h1>
    <p class="govuk-body">You will only be able to see limited details for companies you have not been granted privileged access to.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Search for a company by its name
      </label>
      <span class="scl-input-search-icon"></span>
      <input class="govuk-input scl-input-with-search-icon" id="company-name" name="companyName" type="text">
    </div>

    <p id="company-name-search-error" class="govuk-body" style="display: none">No companies found</p>

    <ul class="govuk-list scl-company-list" id="company-list">
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Apex Dynamics</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Apex Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Apex Industries</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Ascend Corporation</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Ascend Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Cosmos Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Cosmos Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Echelon Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Echelon Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Empire Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Empire Systems</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Everest Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Fusion Dynamics</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Fusion Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Genesis Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Genesis Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Global Enterprises Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Infinity Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Infinity Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Legacy Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Legacy Systems</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Nexus Corporation</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Nova Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Nova Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Omni Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Omni Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Paramount Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Paramount Systems</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Pinnacle Systems</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Prime Dynamics</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Prime Ventures</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Quantum Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Quantum Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Regal Holdings plc</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Stellar Industries</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Stellar Solutions</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Summit Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Summit Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Summit Ventures</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Synergy Group</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Synergy Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Titan Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Titan Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Titanium Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vanguard Holdings</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vertex Innovations</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vertex Ventures</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vortex Enterprises</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Vortex Technologies plc</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="#">Zenith Dynamics</a></li>
    </ul>
  </main>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const companyNameInput = document.getElementById("company-name");
    const companyList = document.getElementById("company-list");
    const error = document.getElementById("company-name-search-error");
    companyNameInput.addEventListener("input", () => {
      // We show companies where every lowercased word in the search string is contained in
      // the lowercased and space-removed company name. This allows a good range of both "full"
      // and "quick" searches, e.g. "quantum holdings", "quantumholdings" and "quan hold" all
      // match "Quantum Holdings", but the number of incorrect matches is very likely to be low
      const segmenter = new Intl.Segmenter([], { granularity: 'word' });
      const segmentedText = segmenter.segment(companyNameInput.value);
      const words = [...segmentedText].filter(s => s.isWordLike).map(s => s.segment);
      let totalMatched = 0;

      Array.from(companyList.children).forEach((child) => {
        const allWordsMatch = words.every((word) => child.textContent.replace(/\s/g,'').toLocaleLowerCase("en-GB").includes(word.toLocaleLowerCase("en-GB")))

        child.style.display = allWordsMatch ? null : 'none';
        if (allWordsMatch) totalMatched += 1;
      });
      error.style.display = totalMatched ? 'none' : null;
    });
});
</script>
{% endblock %}