{% extends "base.html" %}
{% load bleach_tags %}
{% load scl_html %}

{% block content %}
<div class="govuk-width-container">
  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
        <li class="govuk-breadcrumbs__list-item">
        All engagements
      </li>
    </ol>
  </nav>

  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
         {% include './partials/header.html' with title="All engagements" %}
      </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              {% for company in your_companies %}
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                           {{company.name}} ({{company.engagements|length}})
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                      {% if company.engagements %}
                        <ul class="govuk-list">
                          {% for engagement in company.engagements %}
                            <li>
                            <a href="/engagement/{{engagement.id}}" class="govuk-link govuk-link--no-visited-state scl-multiline-list__link">
                                <strong class="govuk-tag govuk-tag--grey govuk-!-font-tabular-numbers scl-tag scl-tag--small scl-tag--date scl-multiline-list__date">{{engagement.date}}</strong>
                                <span class="scl-multiline-list__link_text">{{engagement.title}}</span>
                            </a
                            >
                            </li>
                          {% endfor %}
                        </ul>
                        {% else %}
                        <div class="scl-accordian-actions">
                            <p class="govuk-body govuk-!-margin-0">You currently have no engagements. 
                            </p>
                            <div>
                            <a href="/company-briefing/{{ company.duns_number }}/add-engagement" 
                              role="button" 
                              draggable="false" 
                              class="govuk-button scl-content-header__button govuk-!-margin-0">Add engagement</a>
                            </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
              {% endfor %}
            </div>
        </div>
    </div>
  </main>
</div>
{% endblock %}
